<div class="event-container">
  <div class="event-image">
    <img src="" alt="image here" class="img-fluid" id="imagePreview" />
  </div>
  <div class="event-description">
    <p id="descriptionText">Description here...</p>
    <button class="btn btn-secondary btn-sm read-more">Read More</button>
  </div>
  <div class="event-actions d-flex flex-row-reverse justify-content-end">
    <button class="btn btn-primary btn-sm update-button">Update</button>
    <button class="btn btn-danger btn-sm delete-button">Delete</button>
  </div>
</div>
