<app-sidebar> </app-sidebar>

<div class="p-4 sm:ml-64">
  <div class="p-4 max-h-full">
    <div class="container">
      <div class="w-full bg-slate-100 p-4 rounded-lg">
        <h1
          class="text-center text-4xl font-primary-fonts font-bold whitespace-normal"
        >
          Student's Profile
        </h1>
        <img
          class="w-64 h-64 mx-auto my-5 rounded-full"
          src="../../../../../../assets/images/greg.webp"
          alt=""
        />

        <div class="flex flex-col items-center">
          <input
            type="file"
            #fileInput
            (change)="onFileSelect($event)"
            hidden
          />
          <button
            (click)="fileInput.click()"
            class="w-[25%] text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:outline-none font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2"
          >
            Update Profile Picture
          </button>
          <button
            type="button"
            class="w-[25%] text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:outline-none font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-5"
          >
            Remove Profile Picture
          </button>
        </div>

        <div class="h-[1px] w-[75%] bg-slate-500 my-10 mx-auto"></div>

        <div class="flex flex-col space-y-2 items-center">
          <h1 class="font-primary-fonts font-semibold text-3xl">
            Student's Information
          </h1>
          <div class="p-2 w-1/2 border-b border-slate-400">
            <h1 class="inline-block text-left font-bold">Student Name:</h1>
            <span> {{ students.name }}</span>
          </div>
          <div class="p-2 w-1/2 border-b border-slate-400">
            <h1 class="inline-block text-left font-bold">Student Number</h1>
            <span> {{ students.studentNumber }}</span>
          </div>
          <div class="p-2 w-1/2 border-b border-slate-400">
            <h1 class="inline-block text-left font-bold">Student Course:</h1>
            <span> {{ students.course }}</span>
          </div>
          <div class="p-2 w-1/2 border-b border-slate-400">
            <h1 class="inline-block text-left font-bold">Student Email:</h1>
            <span> {{ students.email }}</span>
          </div>
        </div>

        <div class="h-[1px] w-[75%] bg-slate-500 my-10 mx-auto"></div>

        <!-- update pwd section -->
        <div class="w-1/2 mx-auto flex flex-col">
          <h1 class="text-center text-3xl font-primary-fonts font-semibold mt">
            Password
          </h1>

          <div class="relative z-0 w-full mb-5 group">
            <input
              type="password"
              name="floating_password"
              id="floating_password"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-slate-500 peer"
              placeholder=" "
              required
            />
            <label
              for="floating_password"
              class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-slate-700 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Current Password</label
            >
          </div>
          <div class="relative z-0 w-full mb-5 group">
            <input
              type="password"
              name="floating_password"
              id="floating_password"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-slate-500 peer"
              placeholder=" "
              required
            />
            <label
              for="floating_password"
              class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-slate-700 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >New Password</label
            >
          </div>
          <div class="relative z-0 w-full mb-5 group">
            <input
              type="password"
              name="repeat_password"
              id="floating_repeat_password"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-slate-500 peer"
              placeholder=" "
              required
            />
            <label
              for="floating_repeat_password"
              class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-slate-700 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Confirm password</label
            >
          </div>
          <div class="flex justify-center">
            <button
              type="button"
              class="w-[50%] text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:outline-none font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2"
            >
              Update Password
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
